# 01 Intro to EDA

In [ ]:
import duckdb, pandas as pd, matplotlib.pyplot as plt
import plotly.express as px

In [51]:
# # https://github.com/mwaskom/seaborn-data/blob/master/README.md

# #best practices example
# # --- 1. Import libraries ---
# import duckdb
# import pandas as pd
# import os

# # --- 2. Load dataset directly from seaborn's GitHub mirror ---
# df = duckdb.query("""
#     SELECT * FROM read_csv_auto('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')
# """).df()

# os.makedirs('../data/raw', exist_ok=True)
# df.to_csv('../data/raw/tips.csv', index=False)

In [59]:
df.head()

   total_bill   tip     sex  smoker  day    time  size
0       16.99  1.01  Female   False  Sun  Dinner     2
1       10.34  1.66    Male   False  Sun  Dinner     3
2       21.01  3.50    Male   False  Sun  Dinner     3
3       23.68  3.31    Male   False  Sun  Dinner     2
4       24.59  3.61  Female   False  Sun  Dinner     4

In [58]:
print("Original columns:", list(df.columns))

Original columns: ['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

In [57]:
df.info()
df.describe()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    bool
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 11.8+ KB

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [ ]:
df[df['total_bill'] > 20]

In [49]:
df['tip_pct'] = df.tip / df.total_bill

AttributeError: 'DataFrame' object has no attribute 'tip'

In [ ]:
df.head()

In [ ]:
#df.rename(columns={'tip_pct': 'new_name'}, inplace=True)
#df.head()

In [ ]:
df.groupby('day')['tip_pct'].mean()

In [ ]:
df['tip_pct'].hist()
plt.show()

In [ ]:
px.scatter(df, x='total_bill', y='tip', color='day')

### Best practices: Load from web site; clean; save CSV local

In [ ]:
#best practices example
# --- 1. Import libraries ---
import duckdb
import pandas as pd
import os

# --- 2. Load dataset directly from seaborn's GitHub mirror ---
df = duckdb.query("""
    SELECT * FROM read_csv_auto('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')
""").df()

os.makedirs('../data/raw', exist_ok=True)
df.to_csv('../data/raw/tips.csv', index=False)

print("Original columns:", list(df.columns))

# --- 3. Clean column names ---
# Strip whitespace, lowercase, replace spaces with underscores
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

# --- 4. Rename specific columns for clarity ---
df.rename(columns={
    'total_bill': 'bill_total_usd',
    'tip': 'tip_usd',
    'sex': 'gender',
    'smoker': 'is_smoker',
    'size': 'party_size'
}, inplace=True)

print("Renamed columns:", list(df.columns))

# --- 5. Add a computed column ---
df['tip_pct'] = df['tip_usd'] / df['bill_total_usd']

# --- 6. Verify ---
display(df.head())

# --- 7. Save cleaned version to your repo ---
os.makedirs('../data/processed', exist_ok=True)
df.to_csv('../data/processed/tips_cleaned.csv', index=False)

print("✅ Cleaned dataset saved to: data/processed/tips_cleaned.csv")

## Markdown examples

```python
print("Hello world")


**Bulleted list** (use dash or asterisk before each line) →  

* First
* Second
* Third

**Numbered list** 
1. Step One
2. Do this step
1. Step Two

---
Horizontal line →  `---`  (see above in markdown)

Link →  `[Link text](https://example.com)`  
e.g.: `[Google](https://www.google.com)` #Renders as: [Google](https://www.google.com)

Image →  `![Alt text](https://example.com/image.png)`  

Blockquote →  `> Quoted or referenced text`  

---

✅ **Tip:**  
In Jupyter, press **Esc → M** to switch a cell to Markdown,  
then **Shift + Enter** to render it.  

---

**Bold text**

_Italics (emphasis)_

---

> Quoted text

## Exploratory Analysis: Summary Statistics
This section summarizes the key features of our dataset using descriptive statistics.

In [60]:
#best practices example
# --- 1. Import libraries ---
import duckdb
import pandas as pd
import os

# --- 2. Load dataset saved previously above from seaborn's GitHub mirror ---
df = duckdb.query("""
    SELECT * FROM read_csv_auto('../data/processed/tips_cleaned.csv')
""").df()

In [61]:
# “On average, girls left a slightly higher tip than boys.”
df.describe(include='all')
df.groupby('gender')['tip_pct'].mean()

#describe() → “Give me a summary of all columns.”
#groupby() → “Split the data into smaller groups and calculate something for each.”
#['tip_pct'].mean() → “Within each group, average their tip percentage.”

gender
Female    0.166491
Male      0.157651
Name: tip_pct, dtype: float64

In [62]:
df.describe(include='all')

,bill_total_usd,tip_usd,gender,is_smoker,day,time,party_size,tip_pct
count,244.000000,244.000000,244,244,244,244,244.000000,244.000000
unique,NaN,NaN,2,2,4,2,NaN,NaN
top,NaN,NaN,Male,False,Sat,Dinner,NaN,NaN
freq,NaN,NaN,157,151,87,176,NaN,NaN
mean,19.785943,2.998279,NaN,NaN,NaN,NaN,2.569672,0.160803
std,8.902412,1.383638,NaN,NaN,NaN,NaN,0.951100,0.061072
min,3.070000,1.000000,NaN,NaN,NaN,NaN,1.000000,0.035638
25%,13.347500,2.000000,NaN,NaN,NaN,NaN,2.000000,0.129127
50%,17.795000,2.900000,NaN,NaN,NaN,NaN,2.000000,0.154770
75%,24.127500,3.562500,NaN,NaN,NaN,NaN,3.000000,0.191475
max,50.810000,10.000000,NaN,NaN,NaN,NaN,6.000000,0.710345

In [63]:
df.info

<bound method DataFrame.info of      bill_total_usd  tip_usd  gender  is_smoker   day    time  party_size  \
0             16.99     1.01  Female      False   Sun  Dinner           2
1             10.34     1.66    Male      False   Sun  Dinner           3
2             21.01     3.50    Male      False   Sun  Dinner           3
3             23.68     3.31    Male      False   Sun  Dinner           2
4             24.59     3.61  Female      False   Sun  Dinner           4
..              ...      ...     ...        ...   ...     ...         ...
239           29.03     5.92    Male      False   Sat  Dinner           3
240           27.18     2.00  Female       True   Sat  Dinner           2
241           22.67     2.00    Male       True   Sat  Dinner           2
242           17.82     1.75    Male      False   Sat  Dinner           2
243           18.78     3.00  Female      False  Thur  Dinner           2

      tip_pct
0    0.059447
1    0.160542
2    0.166587
3    0.139780
4    0.146808
..        ...
239  0.203927
240  0.073584
241  0.088222
242  0.098204
243  0.159744

[244 rows x 8 columns]>